<h2>Cumulative average and different moving averages</h2>

<div class="graph">
  <canvas baseChart [type]="'line'" [legend]="true" [datasets]="data.chartData" [labels]="data.chartLabels"
    [options]="lineChartOptions">
  </canvas>
</div>


<hr class="divider">

<h2>Cumulative average before & after first-class format specialisation</h2>

<div class="graph">
  <canvas baseChart [type]="'line'" [legend]="true" [datasets]="data2.chartData" [labels]="data2.chartLabels"
    [options]="lineChartOptions">
  </canvas>
</div>

<p>Anderson's last ODI was Afghanistan vs England, at Sydney, Mar 13 2015.</p>

<P>d‌&#233;bacle</P>

<hr class="divider">

<h2>Cumulative average with age analysis</h2>

<div class="graph">
  <canvas baseChart [type]="'line'" [legend]="true" [datasets]="data3.chartData" [labels]="data3.chartLabels"
    [options]="lineChartOptions">
  </canvas>
</div>
